h1{font-family: 'Gloria Hallelujah', cursive;}
p{font-family: 'Gloria Hallelujah', cursive;}
li{font-family: 'Gloria Hallelujah', cursive;}
h1{color:dimgray;}
p{color:mediumpurple}
li{color:darkcyan}

body {
    background-color:azure;
}
