h1{
	font-size: 55px;
	font-family: 'Comfortaa', cursive;
	color:black
}
h2{
	font-family: 'Comfortaa', cursive;
}
h2 {
	color:mediumpurple
}
nav{
	font-size: 25px;
}

	
body {
	background-color:azure;
}

