h1{font-family: 'Comfortaa', cursive;}
h2{font-family: 'Comfortaa', cursive;}

h1{
	font-size: 55px;
	color:black;
}

h2 {
	font-size: 35px;
	color:mediumpurple
}
nav {
	font-size: 25px;
}
body {
    background-color:azure;
	text-align: center;
}

font-family: 'Concert One', cursive;
