h1{
	font-family: 'Comfortaa', cursive;
	font-size: 55px;
}
h2{
	font-family: 'Comfortaa', cursive;
	font-size: 25px;
}
h1{
	color:black;
}
h2 {
	color:black
}
body{
	background-color:azure
}

nav {
	font-size: 25px;
}
