h1{
	font-family: 'Comfortaa', cursive;
	font-size: 55px;
	color:black
}
h2{
	color:black
	font-family: 'Comfortaa', cursive;
}

body{
	background-color:azure
}

nav {
	font-size: 25px;
}